@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/800e985f75a5a56c2f7b4be502d286de?family=Burbank+Big+Condensed+Bold');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');      
body {
  max-height: 100vh;
  font-family: 'Kanit';
  font-weight: 500;
  color: white;
  overflow: hidden;
  background: center / contain #1c0c31;
}

.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 32;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #3e118d !important;
  top: 48%;
  left: 86%;
  animation-duration: 133s;
  animation-delay: -140s;
  transform-origin: 17vw -7vh;
  box-shadow: 100vmin 0 13.284641895041167vmin currentColor;
}

.background span:nth-child(1) {
  color: #3e118d !important;
  top: 29%;
  left: 36%;
  animation-duration: 125s;
  animation-delay: -105s;
  transform-origin: -23vw -9vh;
  box-shadow: -100vmin 0 13.450982416138892vmin currentColor;
}

.background span:nth-child(2) {
  color: #3e118d !important;
  top: 53%;
  left: 81%;
  animation-duration: 20s;
  animation-delay: -138s;
  transform-origin: -2vw -19vh;
  box-shadow: -100vmin 0 12.789465561968832vmin currentColor;
}

.background span:nth-child(3) {
  color: #3e118d !important;
  top: 70%;
  left: 51%;
  animation-duration: 135s;
  animation-delay: -152s;
  transform-origin: -24vw -21vh;
  box-shadow: 100vmin 0 13.306893333530283vmin currentColor;
}

.background span:nth-child(4) {
  color: #5a1d8c !important;
  top: 79%;
  left: 38%;
  animation-duration: 29s;
  animation-delay: -153s;
  transform-origin: -4vw 6vh;
  box-shadow: -100vmin 0 13.418523681220167vmin currentColor;
}

.background span:nth-child(5) {
  color: #5a1d8c !important;
  top: 5%;
  left: 54%;
  animation-duration: 73s;
  animation-delay: -51s;
  transform-origin: 11vw -23vh;
  box-shadow: 100vmin 0 13.330236005970315vmin currentColor;
}

.background span:nth-child(6) {
  color: #5a1d8c !important;
  top: 18%;
  left: 92%;
  animation-duration: 106s;
  animation-delay: -96s;
  transform-origin: 4vw 5vh;
  box-shadow: 100vmin 0 12.85783604881613vmin currentColor;
}

.background span:nth-child(7) {
  color: #5a1d8c !important;
  top: 63%;
  left: 3%;
  animation-duration: 107s;
  animation-delay: -178s;
  transform-origin: 8vw -15vh;
  box-shadow: 100vmin 0 12.560938430491973vmin currentColor;
}

.background span:nth-child(8) {
  color: #5a1d8c !important;
  top: 23%;
  left: 94%;
  animation-duration: 24s;
  animation-delay: -135s;
  transform-origin: 6vw -12vh;
  box-shadow: 100vmin 0 12.828535074793889vmin currentColor;
}

.background span:nth-child(9) {
  color: #5a1d8c !important;
  top: 22%;
  left: 100%;
  animation-duration: 115s;
  animation-delay: -107s;
  transform-origin: 24vw -22vh;
  box-shadow: 100vmin 0 13.270002512335592vmin currentColor;
}

.background span:nth-child(10) {
  color: #5a1d8c !important;
  top: 19%;
  left: 88%;
  animation-duration: 51s;
  animation-delay: -95s;
  transform-origin: 2vw 24vh;
  box-shadow: 100vmin 0 13.287779177988494vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}


.h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff !important;
}

.bg-dark {
  box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%) !important;
  background-color: #754b9905 !important;
  backdrop-filter: blur(16.5px) !important;
}

.bg-dark select {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.02) !important;
}

.text-muted {
  color: rgb(139, 139, 139) !important;
}

.card-body,
.fa-solid,
span,
.fa-chevron-left,
.container,
.form-control,
.form-control:focus,
select,
input {
  color: #fff;
}

.card {
  border-radius: 20px;
  box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%);
  color: #fff;
}

.main,
.content {
  height: 100vh !important;
}


.main .resizer {
  width: 10px;
  height: 10px;
  background: #594270;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.disabled {
  cursor: wait !important;
}

.disabled span,
.disabled i {
  color: grey !important;
}

.disabled:hover {
  background: #000 !important;
}


.text_resize {
  resize: none;
  color: white;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #594270;
  border: 0px none transparent;
  border-radius: 50px;
  transition: all .25s linear;
}

::-webkit-scrollbar-thumb:hover {
  background: #524267;
}

::-webkit-scrollbar-thumb:active {
  background: #754b99;
}

::-webkit-scrollbar-corner {
  background: #594270;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.container {
  position: relative;
  height: 100%;
}

.bottom-info {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #000;
  padding: 1%;
  border-top: #4f016c 1px solid;
  bottom: 0;
}

.internal-top {
  position: relative;
  display: flex;
  justify-content: space-between !important;
  height: 7%;
  padding: 1%;
  background-color: #000 !important;
  z-index: 1;
}

.internal-top span {
  align-self: center;
  font-size: 120%;
}

.internal-block {
  width: 75%;
}

.form-block {
  margin-bottom: 5%;
  margin-top: 5%;
  position: relative;
  padding: 5%;
  box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%);
  background-color: #754b9905;
  border-radius: 20px;
}

.block-auth {
  margin: 3%;
  position: relative;
  padding: 5%;
  box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%);
  background-color: #754b9905;
  border-radius: 20px;
}

.bt-submit {
  border: solid #6f0196 1px !important;
  color: white !important;
  box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%) !important;
  background-color: #754b9905 !important;
  backdrop-filter: blur(16.5px) !important;
}

.bt-submit:hover {
  box-shadow: 8px 18px 24px 0 rgb(0 0 0 / 90%) !important;
  background-color: #6f0196 !important;
  backdrop-filter: blur(46.5px) !important;
}

.specs-div {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #000;
}


.dropdown-menu .no-results {
  background-color: #000 !important;
  color: white !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #710299 !important;
}

.bootstrap-select.bs-container {
  z-index: 1100 !important;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: 5px auto #710299 !important;
}

select,
input {
  border-color: #710299 !important;
}


select:active,
select:focus,
input[type="text"]:active,
input[type="text"]:focus,
button:active,
button:focus {
  border-color: #5f0181 !important;
  outline: none !important;
  box-shadow: inset 0 2px 2px rgba(148, 0, 194, 0.729), 0 0 8px rgba(118, 0, 154, 0.781) !important;
}

select {
  z-index: 1000 !important;
  height: 40px !important;
}

option {
  background: #000;
  color: #fff
}

input[type="range"] {
  width: 100%;
  height: 20px;
  background: transparent;
}

input[type="range"] {
  width: 100%;
  height: 20px;
  background: transparent;
}


.none-flex {
  flex-wrap: nowrap !important;
}

input[type="range"] {
  appearance: none;
  height: 5px;
}


input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  top: -2px;
  z-index: 1;
  width: 11px;
  height: 11px;
  cursor: pointer;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(50%, #520070), color-stop(51%, #520070), color-stop(100%, #520070));
}

input[type=range]::-webkit-slider-runnable-track {
  appearance: none;
  background: white;
  border-radius: 40px;
  height: 7px;
}


input[type="file"]::-webkit-file-upload-button {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.h-scroll {
  display: flex;
  height: 93vh;
  /* %-height of the viewport */
  position: inherit;
  overflow-y: scroll;
  width: 100%;
}

.h-scroll-chat {
  display: flex;
  flex-direction: column;
  position: inherit;
  overflow-y: scroll;
  height: 100%;
}


.h-scroll-events {
  display: flex;
  flex-direction: column;
  position: inherit;
  overflow-y: auto;
  height: 100%;
}

.div-events {
  height: 200px;
}

.h-scroll-events::-webkit-scrollbar {
  display: none;
}

.h-scroll-terms {
  padding: 1%;
  border-radius: 2%;
  height: 50vh;
  /* %-height of the viewport */
  position: inherit;
  overflow-y: scroll;
  width: 100%;
}

.custom-border-modal {
  border: solid #754b99 1px !important;
}

.toast-body {
  background-color: #000;
}

.toast-header {
  border: rgb(82, 82, 82) 1px solid !important;
}


.material-switch {
  margin-top: 14px;
}

.material-switch>input[type="checkbox"] {
  display: none;
}

.material-switch>label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch>label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: #7902a4 1px solid;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch>label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 14px;
  left: 0;
  margin-top: -3px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 14px;
}

.material-switch>input[type="checkbox"]:checked+label::before {
  background: #7902a4;
  opacity: 1;
}

.material-switch>input[type="checkbox"]:checked+label::after {
  background: #7902a4;
  left: 26px;
}


.purple-border-block {
  border: solid #4f016c 1px;
  background-color: #000000;
}

.out-redeem {
  position: inherit;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.out-redeem::-webkit-scrollbar {
  display: none;
}

.redeem-block {
  margin-top: 1vh;
  box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%);
  background-color: #754b9905;
  backdrop-filter: blur(16.5px);
  border-radius: 5px;
  border: solid #4f016c 1px;
}

.redeem-block-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5%;
  margin: 1% !important;
  transition: 0.40s !important;
  box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%);
  background-color: #754b9905;
  backdrop-filter: blur(16.5px);
  border-radius: 10px;
}


.redeem-block-bt:hover {
  color: white;
  background-color: #754b99 !important;
  transform: scale(1.03);
}

.grid-buttons-commands .redeem-block-bt i {
  font-size: 4em;
}

.grid-buttons-goal .redeem-block-bt .material-symbols-sharp {
  margin-top: 11%;
  margin-bottom: 5%;
  font-size: 7em;
}


.grid-buttons-commands .redeem-block-bt .material-symbols-sharp {
  margin-top: 12%;
  margin-bottom: -1%;
  font-size: 4em;
}

.redeem-block-bt p {
  font-size: 1.3em;
}


.redeem-block-bt i {
  margin-top: 35%;
  font-size: 7em;
}

.chat-col {
  height: 100%;
  width: 50%;
}

.events-col {
  border: none;
  padding-right: 0%;
  height: 100%;
  width: 50%;
  margin-right: 0px !important;
}

.ui-resizable-handle:hover {
  background: #754b99;
}

.ui-resizable-e {
  width: 2px !important;
}

.chat-col {
  padding-left: 10px !important;
}

.chat-col .nav-link {
  color: #fff;
  border: solid #4f016c 1px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  padding: 0%;
}

.chat-col .nav-link.active {
  color: #fff;
  background-color: #4f016c;
}


.chat-col .nav-tabs {
  border-bottom: none !important;
}


.message-time {
  color: rgb(175, 174, 174);
  margin-right: 3px !important;
}

.message-time-current {
  color: rgb(175, 174, 174);
  margin-right: 3px !important;
}

.event-time-current {
  color: rgb(175, 174, 174);
  margin-right: 3px !important;
}

.link-style {
  cursor: pointer;
  color: #7cc8eb !important;
  text-decoration: underline;
}


.nav-chat-div {
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 5px;
  border: solid #4f016c 1px;
}

.form-chat {
  width: 100%;
}

.inp-chat {
  width: 80%;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.chat-message {
  padding: 1%;
  margin: 1%;
  color: white;
  padding-right: 15px;
  height: auto;
  border: solid #4f016c 3px;
  overflow-wrap: anywhere;
  user-select: text;
  font-size: 18px;
  transition: 0.55s;
}

.chat-message:hover {
  background-color: #754b99 !important;
  transform: scale(1.01);
}

.event-message {
  padding: 1%;
  margin-top: 1%;
  margin: 1%;
  color: #754b99;
  height: auto;
  border: solid #4f016c 3px;
  overflow-wrap: anywhere;
  user-select: text;
  font-size: 18px;
  transition: 0.55s;
}

.event-message:hover {
  background-color: #754b99 !important;
  transform: scale(1.01);
}

.chat-block-color {
  animation: colorC 1.5s normal;
}

.chat-block-color-announce {
  border-left: 10px solid #A42495;
  animation: colorC 1.5s normal;
}

.events-sub-color {
  color: #b3b3b3;
}

@keyframes colorC {
  0% {
    background-color: #4f016c;
  }

  100% {
    background-color: transparent;
  }
}


#user-chat {
  margin-left: 2px;
  display: inline-block;
  font-weight: 400;
  user-select: text;
  transition: 0.5s;
}

.span_username {
  padding: 0.1rem;
  border-radius: 10%;
}

.span_username:hover {
  background: #000000;
  text-decoration: none;
  transition: 0.5s;
}

#message-chat {
  margin-left: 3px;
  user-select: text;
}

#message-replyed-div {
  color: rgb(164, 164, 164) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#message-replyed-div span,
#message-replyed-div i {
  color: rgb(164, 164, 164) !important;
}


.tooltip {
  --bs-tooltip-max-width: 100% !important;
}

#obs_retry_button:hover {
  cursor: pointer;
}

.dropdown-menu,
.bs-searchbox {
  background-color: #000 !important;
}

.bs-searchbox .form-control {
  background-color: #000 !important;
}

.dropdown-toggle {
  border-color: #5f0181 !important;
}

.dropdown-toggle:after {
  border-color: #5f0181 !important;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: 0 !important;
}

.dropdown-item:hover {
  background-color: #4f016c !important;
}

.bs-searchbox .form-control {
  color: white !important;
}

.dropdown-menu .no-results {
  background-color: #000 !important;
  color: white !important;
}


table {
  width: 100%;
  color: #fff;
  background-color: #000;
}

table td {
  background-color: #000 !important;
  color: #fff !important;
  white-space: nowrap;
}

table th {
  background-color: #000 !important;
  color: #fff !important;
  white-space: nowrap;
}

table tr {
  background-color: #000 !important;
  color: #fff !important;
  white-space: nowrap;
}

tr {
  padding: 0px !important;
}


.dataTables_scrollHeadInner,
.dataTables_scrollHeadInner table,
.dataTables_scrollFootInner,
.dataTables_scrollFootInner table {
  width: 100% !important;
}

div.dataTables_wrapper div.dataTables_filter input {
  color: #000;
  background-color: #Fff
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: 0;}

.color_icon {
  width: 16px;
  height: 16px;
  border-radius: 25px;
  margin-right: 4px;
  margin-top: 4px;
}

#block-list-body td {
  user-select: text;
  width: 100vw;
  color: #fff;
}

#chat-list-body td {
  user-select: text;
  width: 100vw;
  color: #fff;
}

#list_musics td {
  width: 100vw;
  color: #fff;
}

#list_chat td {
  user-select: text;
  width: 100%;
  color: #fff;
}

#list_chat tr {
  user-select: text;
  width: 100vw;
  color: #fff;
}

#list_musics_block td {
  width: 100vw;
  color: #fff;
}

#list_giveaway_names td {
  width: 100vw;
  color: #fff;
}

#list-body {
  color: #fff;
}

#last_timer_text-1 {
  width: 400px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.config-tab-chat {
  padding: 3%;
  height: 100%;
}

.tab-pane {
  height: 100vh;
}


@keyframes visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

hr:not([size]) {
  height: 5px;
}

hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 16px;
  opacity: 1 !important;
  background-color: #5f0181 !important;
}

.box-collapse-list {
  background-color: #5f0181;
}

.collapse:not(.show) {
  display: none !important;
}


.song-img {
  position: relative;
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7483368347338936) 89%, rgba(0, 0, 0, 1) 100%),
    url('/src/player/images/album.png');

  background-clip: padding-box;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 100%;
}

.song-img p {
  font-size: 20px;
}

.player-controlls-div {
  bottom: 0;
  width: 100%;
  height: auto;
}

.plyr__controls {
  --plyr-color-main: #5f0181 !important;
  --plyr-audio-controls-background: rgba(0, 0, 0, 0) !important;
  --plyr-audio-control-color: #fff;
  --plyr-menu-background: rgba(0, 0, 0, 0) !important;
}



#response-select-edit option {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#response-select-edit option:hover {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
}

.audioplayer-playlist {
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  margin: 1%;
  transition: all .2s ease-in-out;
  border: #754b99 2px solid;
  width: 48px;
  height: 48px;
}

.audioplayer-playlist::before {
  font-family: "FontAwesome";
  content: '\f022';
  color: white;
}

.audioplayer-playlist:hover {
  background: #754b99;
}

.audioplayer-list {
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: #754b99 1px solid;
  margin: 1%;
  width: 48px;
  height: 48px;
}

.audioplayer-list::before {
  font-family: "FontAwesome";
  content: '\f0cb';
  color: white;
}

.audioplayer-list:hover {
  background: #754b99;
}

.audioplayer-stop {
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: #754b99 1px solid;
  margin: 1%;
  width: 48px;
  height: 48px;
}

.audioplayer-stop::before {
  font-family: "FontAwesome";
  content: '\f04e';
  color: white;
}

.audioplayer-stop:hover {
  background: #754b99;
}

#userdata_table {
  width: 100% !important;
}

#userdata_table thead {
  width: 100% !important;
}

#userdata_table tbody {
  width: 100%;
}


#userdata_table tr:hover {
  cursor: pointer;
}

#userdata_table_filter input,
#userdata_table_length select {
  background: #000;
  color: #fff;
}

#userdata_table .badges {
  margin-left: 2px;
}

#commandlist_table_filter input {
  background-color: #000;
}

#commandlist_table_length select {
  background-color: #000;
  color: #Fff;
}

#queuelist_table_filter input {
  background-color: #000;
}

#queuelist_table_length select {
  background-color: #000;
  color: #Fff;
}

#list_chat_filter input {
  background-color: #000;
}

#list_chat_length select {
  background-color: #000;
  color: #Fff;
}

.page-link {
  color: white;
  background-color: #000 !important;
  border: #754b99 1px solid !important;
  transition: 0.15s !important;
}

.page-link:hover {
  background-color: #754b99 !important;
  color: white !important;
}

.page-item.active .page-link {
  color: white !important;
  background-color: #754b99 !important;
  border: #754b99 1px solid !important;
}

.modal-header {
  border-bottom: 1px solid #754b99;
}

.modal-footer {
  border-top: 1px solid #754b99;
}

.btn-outline-secondary {
  border-color: #754b99 !important
}

.btn-outline-secondary:hover {
  background-color: #754b99 !important
}

.btn-check:active+.btn-outline-secondary,
.btn-check:checked+.btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
  background-color: #754b99 !important;
  border-color: #a977d5 !important;
}

.progress-bar {
  background-color: #754b99;
  /* cor personalizada */
  height: 10px;
}

#progress-bar-follow {
  height: 10px;
}

.small {
  color: #d9d9d9;
}

.bar-text {
  font-size: 16px;
}

/* ----------------- carrossel ----------------- */

.carousel {
  height: 100px;
  width: 100%;
}

.carousel-cell {
  width: 100%;
}


/* ----------------- carrossel ----------------- */

/* ----------------- toggler ----------------- */

.top-toggler {
  height: 35px;
  border-bottom: #754b99 1px solid;
  cursor: pointer;
}

#user-toggler-side,
#bots-toggler-side,
#users-toggler-list,
#bots-toggler-list,
#users-toggler,
#bots-toggler,
#bots-toggler-out,
#users-toggler-out {
  cursor: pointer;
}

/* ----------------- toggler ----------------- */


/* ----------------- loader ----------------- */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


.loading .card {
  box-shadow: 6px 14px 19px 0 rgb(0 0 0 / 60%);
  background-color: #27183461;
  backdrop-filter: blur(16.5px);
  border-radius: 20px;
}

.remove-loading {
  animation: fade-out 1s ease-out both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* ----------------- loader ----------------- */


/*--------------------   navbar togller    -----------------*/


:root {
  --nav-width: 52px;
  --z-fixed: 100
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer
}

.l-navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  left: -20%;
  width: var(--nav-width);
  height: 100vh;
  transition: .5s;
  z-index: var(--z-fixed);
  box-shadow: 3px 10px 14px 0 rgb(0 0 0 / 60%) !important;
  background-color: #754b9905 !important;
  backdrop-filter: blur(16.5px) !important;
}

.nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}


.l-navbar .nav-link {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
}

.nav-link:hover {
  background-color: #754b99 !important;
}

.nav-link:focus {
  background-color: #754b99 !important;
}

.nav_icon {
  font-size: 1.25rem
}

.show_navbar {
  left: 0
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem)
}

.show_link {
  display: inline-block !important;
  transition: .3s
}

.nav_name {
  padding-left: 0.5rem;
  display: none;
  transition: .3s
}

@media screen and (min-width: 768px) {
  body {
    padding-left: calc(var(--nav-width))
  }

  .l-navbar {
    left: 0;
  }

  .show_navbar {
    width: calc(var(--nav-width) + 156px)
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 160px)
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.hide {
  display: none;
}


.scrollBtn {
  height: 2.25rem;
  color: #fff;
  background-color: #754b99;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}

.scrollBtn.show {
  opacity: 1;
}


#main {
  transition: opacity 0.2s ease-in-out;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.grid-buttons-actions button {
  height: 100%;
  width: 100%;
}

.grid-buttons-commands {
  height: 89vh;
  width: 95%;
  display: grid;
  padding: 0.8%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
  gap: 11px 16px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}

.grid-buttons-goal {
  width: 100%; 
  height: 87vh;
  display: grid;
  padding: 10%;
  grid-template-columns: 47.5% 47.5%; 
  grid-template-rows: 50%; 
  gap: 0px 5%; 
  grid-template-areas: 
    ". ."; 
  justify-content: center; 
  align-content: center; 
  align-items: center; 
}


.grid-buttons-goal .redeem-block-bt i {
  margin-bottom: 20%;
  margin-top: 20%;
}

.grid-buttons-queue {
  width: 100%; 
  height: 87vh;
  display: grid;
  padding: 10%;
  grid-template-columns: 31.6% 31.6% 31.6%;  
  grid-template-rows: 50%; 
  gap: 0px 5%; 
  grid-template-areas: 
    ". . ."; 
  justify-content: center; 
  align-content: center; 
  align-items: center; 
}
.grid-buttons-queue .redeem-block-bt i {
  font-size: 5rem;
  margin-bottom: 20%;
  margin-top: 20%;
}


.grid-buttons-config {
  height: 89vh;
  width: 95%;
  display: grid;
  padding: 1%;
  grid-template-columns: fr fr fr;
  grid-template-rows: 50% 50%;
  gap: 20px 20px;
  grid-template-areas:
    ". . . "
    ". . . ";
}


img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.inner-sidebar {
  display: flex;
  flex-wrap: wrap
}

.inner-sidebar button {
  padding: 0.5rem 1rem;
}

.container-rank {
  display: flex;
}

.card_rank {
  flex: 1;
  width: 100%;
  display: flex;
  border: 1px solid rgba(204, 204, 204, 0);
  border-radius: 5px;
  padding: 15px;
}

.card_rank p {
  margin-bottom: 0.1rem;
}

.card_rank img {
  max-width: 60px;
  max-height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.texto_rank_user {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type=color] {
  display: none;
}

.color-span {
  border: 1px solid #754b99;
  border-radius: 50%;
  width: 50px;
  height: auto;
  display: block;
}

.iframe-bar {
  height: auto;
  background-color: transparent;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}


#iframe-likes .progress-outer,
#iframe-likes-config .progress-outer {
  background: #000000;
  padding: 0px 10px 10px 10px;
  border: 3px solid #3f0365;
  position: relative;
}

#iframe-likes .progress,
#iframe-likes-config .progress {
  height: 20px;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  overflow: visible
}

#iframe-likes .progress-bar,
#iframe-likes-config .progress-bar {
  width: 50%;
  height: 20px;
  background-color: #3f0365;
  position: relative;
  overflow: unset;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s
}

#iframe-likes .progress-title,
#iframe-likes-config .progress-title {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

#iframe-likes .progress .progress-bar:after,
#iframe-likes-config .progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #ffffff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 10;
  transform: rotate(30deg)
}


#iframe-diamonds .progress-outer,
#iframe-diamonds-config .progress-outer {
  background: #000000;
  padding: 0px 10px 10px 10px;
  border: 3px solid #3f0365;
  position: relative;
}

#iframe-diamonds .progress,
#iframe-diamonds-config .progress {
  height: 20px;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  overflow: visible
}

#iframe-diamonds .progress-bar,
#iframe-diamonds-config .progress-bar {
  width: 50%;
  height: 20px;
  background-color: #3f0365;
  position: relative;
  overflow: unset;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s
}

#iframe-diamonds .progress-title,
#iframe-diamonds-config .progress-title {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

#iframe-diamonds .progress .progress-bar:after,
#iframe-diamonds-config .progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #ffffff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 10;
  transform: rotate(30deg)
}


#iframe-follow .progress-outer,
#iframe-follow-config .progress-outer {
  background: #000000;
  padding: 0px 10px 10px 10px;
  border: 3px solid #3f0365;
  position: relative;
}

#iframe-follow .progress,
#iframe-follow-config .progress {
  height: 20px;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  overflow: visible
}

#iframe-follow .progress-bar,
#iframe-follow-config .progress-bar {
  width: 50%;
  height: 20px;
  background-color: #3f0365;
  position: relative;
  overflow: unset;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s
}

#iframe-follow .progress-title,
#iframe-follow-config .progress-title {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

#iframe-follow .progress .progress-bar:after,
#iframe-follow-config .progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #ffffff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 10;
  transform: rotate(30deg)
}


#iframe-share .progress-outer,
#iframe-share-config .progress-outer {
  background: #000000;
  padding: 0px 10px 10px 10px;
  border: 3px solid #3f0365;
  position: relative;
}

#iframe-share .progress,
#iframe-share-config .progress {
  height: 20px;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  overflow: visible
}

#iframe-share .progress-bar,
#iframe-share-config .progress-bar {
  width: 50%;
  height: 20px;
  background-color: #3f0365;
  position: relative;
  overflow: unset;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s
}

#iframe-share .progress-title,
#iframe-share-config .progress-title {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

#iframe-share .progress .progress-bar:after,
#iframe-share-config .progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #ffffff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 10;
  transform: rotate(30deg)
}

#iframe-gift .progress-outer,
#iframe-gift-config .progress-outer {
  background: #000000;
  padding: 0px 10px 10px 10px;
  border: 3px solid #3f0365;
  position: relative;
}

#iframe-gift .progress,
#iframe-gift-config .progress {
  height: 20px;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  overflow: visible
}

#iframe-gift .progress-bar,
#iframe-gift-config .progress-bar {
  width: 50%;
  height: 20px;
  background-color: #3f0365;
  position: relative;
  overflow: unset;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s
}

#iframe-gift .progress-title,
#iframe-gift-config .progress-title {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

#iframe-gift .progress .progress-bar:after,
#iframe-gift-config .progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #ffffff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 10;
  transform: rotate(30deg)
}

#iframe-max_viewer .progress-outer,
#iframe-max_viewer-config .progress-outer {
  background: #000000;
  padding: 0px 10px 10px 10px;
  border: 3px solid #3f0365;
  position: relative;
}

#iframe-max_viewer .progress,
#iframe-max_viewer-config .progress {
  height: 20px;
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  overflow: visible
}

#iframe-max_viewer .progress-bar,
#iframe-max_viewer-config .progress-bar {
  width: 50%;
  height: 20px;
  background-color: #3f0365;
  position: relative;
  overflow: unset;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s
}

#iframe-max_viewer .progress-title,
#iframe-max_viewer-config .progress-title {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(250, 250, 250);
}

#iframe-max_viewer .progress .progress-bar:after,
#iframe-max_viewer-config .progress .progress-bar:after {
  content: "";
  display: inline-block;
  width: 10px;
  background: #ffffff;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: -5px;
  z-index: 10;
  transform: rotate(30deg)
}


.event_block_ranks {
  width: 100%;
  padding: 1%;
}

.event_block_ranks .user {
  border: 2px solid #927aac;
  background-color: black;
  margin-bottom: 1%;
}

.event_block_ranks img {
  margin: 10%;
  align-self: center;
}

.event_block_ranks p {
  width: 100%;
  color: #fff;
  text-align: left;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Kanit';
}

.event_block_ranks .infos {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-self: start;
  justify-content: center;
}

.event_block_ranks .username {
  margin-bottom: 0% !important;
}

.event_block_ranks .value {
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.animation-0 {
  animation: jello-horizontal 0.9s both;
}

.animation-1 {
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.animation-2 {
  animation: bounce-left 0.8s both;
}

.animation-3 {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.animation-4 {
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-48px);
    transform: translateX(-48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateX(-26px);
    transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateX(-13px);
    transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes shake-horizontal {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }

  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.event_block_overlay {
  border: 2px solid #927aac;
  width: 100%;
  background-color: black;
  margin: 1%;
  padding: 1%;
}

.event_block_overlay p {
  color: #fff;
  text-align: left;
  margin: 0%;
  max-width: 100%;
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Kanit';
}

.event_block_overlay span {
  font-family: 'Kanit';
}